#Video{
    text-decoration: underline;
    font-weight:lighter;
    color: azure;
}

.centered-list{
    padding-right: 0x;
    list-style-position:inside;
    display:block;
    text-align: left;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 15pt;
    color: rgb(43, 28, 82);
    margin:0 auto;
    width:50%;
    padding-left: 70x;
    text-indent: 0;
    
}
.centered-list2{
    list-style-position:inside;
    display:block;
    text-align:left;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 17pt;
    color: rgb(32, 19, 66);
    margin:0 auto;
    width:50%;
    text-indent: 15px;
    
}
body{
    background-color: rgb(234, 253, 253);
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: center;
    border-style:groove;
    border: 10pt solid rgba(24, 33, 128, 0.842);
    margin: 5px;
    padding: 75px;
}
.Header{
    font-weight: 300;
    color: darkcyan;
    font-size: 35pt;
}
.Headertwo{
    font-weight: 200;
    color: rgb(17, 178, 178);
    font-size: 25pt;
}
.image-container {
    display: flex;
    justify-content: space-evenly; 
    align-items: center; 
    margin-bottom: 20px; 
  }
  
.image-container img {
    width: 150px; 
    height: 150;
  }

  .mainitem {
    font-weight: 200;
    font-size: 20;
  }
  .tableauPlaceholder {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin: 0 auto;
}